.formInput-phone {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.phone-validate-group-num {
  margin-right: 10px;
  flex: 2;
}

.phone-validate-btn {
  cursor: pointer;
  display: "flex";
  padding: 10px;
  border-radius: 5px;
  justify-content: "center";
  background: white;
  color: black;
  border: 1px solid;
  font-size: 10px;
  margin: 10px;
}

.login button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
}
